@import "tailwindcss";

:root {
  color-scheme: dark;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

/* Custom scrollbar for premium feel */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #0a0a0c;
}

::-webkit-scrollbar-thumb {
  background: #1e1e24;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #2a2a32;
}
